.title {
  font-size: 64px;
  color: #fefefe;
}

.container {
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
}
